* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3fr 1fr auto 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

nav menu {
  list-style: none;
}

/* HEADER */

header {
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

header form {
  width: fit-content;
  box-shadow: var(--shadow);
  margin-bottom: 10px;
}

header form label {
  display: none;
}

header form input {
  padding: 0.2rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}

header menu {
  display: flex;
  padding-bottom: 20px;
}
header menu a {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
  margin: 0 10px;
}

header menu a[href*="wishlist"] {
  background-image: url("icons/heart.png");
}

header menu a[href*="cart"] {
  background-image: url("icons/cart.png");
}
header menu a[href*="profile"] {
  background-image: url("icons/user.png");
}

/* NAV*/

body > nav menu {
  display: flex;
  justify-content: center;
}

body > nav menu a {
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

body > nav menu a:hover {
  background: var(--background);
}

/* MAIN */

main {
  background: var(--background);
  padding: 1rem;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}

.ocultar-en-mobile {
  display: none;
}

/* Footer */

footer {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;

  display: flex;
  justify-content: center;
}
footer a {
  color: var(--primary);
  margin: 0 20px;
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 2fr auto 2fr;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }

  /* HEADER */

  header {
    grid-area: header;
    z-index: 1;
    padding: 0 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* NAV */

  body > nav {
    padding-top: 1rem;
  }

  body > nav > menu {
    display: flex;
    flex-direction: column;
  }
  .ocultar-en-mobile {
    display: block;
  }

  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
