body {
  font-family: sans-serif;
}

header {
  background-color: blue;
  color: white;
  text-align: center;
  height: 70px;

  display: flex;
  justify-content: center;
}

h2 {
  color: blue;
}

ul {
  line-height: 2;
  list-style-type: circle;
}
.importante {
  text-decoration: underline;
  font-weight: bold;
}

table {
  text-align: center;
}

thead {
  color: white;
  background-color: blue;
  height: 40px;
}

tbody > tr:nth-child(even) {
  background-color: rgb(112, 172, 230);
}
tbody > tr:nth-child(odd) {
  background-color: lightblue;
}

tbody > tr > th {
  background-color: rgb(148, 213, 235);
  height: 40px;
  width: 70px;
}

#descanso {
  font-weight: bold;
  text-transform: uppercase;
}
